<%- include("partials/header"); %>


<h1><%=title%></h1>
<pre>

  <p class="posts-para"><%=content%></p>
</pre>

<div class="go-back">
  <a class="go-back" href="/">Go back</a>
</div>



<%- include("partials/footer"); %>
