body {
  background-image: url("/wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}

h1 {
  text-align: center;
  color: #321f28;
  padding-top: 3%;
}

h2 {
  color: #463333;
}

p {
  font-size: 170%;
  color: #42240c;
}

/* Navbar */
.photo {
  border-radius: 50%;
  max-height: 100px;
  width: auto;
}

.navbar {
  background-color: transparent;
  letter-spacing: 2px;
}

.navbar-nav li a {
  color: #290001;
  margin: 10px 15px;
  font-size: 120%;
  font-weight: bold;
}

.navbar-nav li a:hover {
  color: #343434 !important;
  padding-bottom: 3px;
  border-bottom: 2px solid #290001;
}

/* Vivek Saurabh */
.main-heading {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 300%;
  color: #290001;
  margin-bottom: 5%;
}

.posts {
  padding: 2% 0;
}

.posts-para {
  text-align: center;
}

.posts a {
  color: #8f4426;
  font-size: 85%;
  font-family: 'Roboto Slab', serif;
}

.posts a:hover {
  color: #8f4426;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  padding-bottom: 3px;
  border-bottom: 2px solid #290001;
}

.go-back a {
  color: #8f4426;
  font-size: 130%;
  font-family: 'Roboto Slab', serif;
  float: right;

}

.go-back a:hover {
  color: #8f4426;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  padding-bottom: 3px;
  border-bottom: 2px solid #290001;
}
